.cabecalho {
    border-bottom-style: solid;
    background: greenyellow;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 1px;
}

#cabecalho2 {
    color: blue;
    text-align: center;
}

.rodape {
    border-top-style: solid;
    background: greenyellow;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 1px;
}

#rodape2 {
    color: blue;
    text-align: center;
}

.lista {
   font-size: 30;
   color:red;
}

.imagens {
   text-align: center;
   Background: whitesmoke;
}

#destaque {
    border: 5px;
    border-style: deshed;
    border-color: blue;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 500px;
    margin-right: 500px;
    background: yellow;
}

#link {
   text-align: center;
}

p {
   color: red;
   font-size: 30;
   text-align: left; 
}

h1 {
    color: blue;
    font-size: 50;
    text-align: center;
}

h2 {
    color: green;
    font-size: 40;
    text-align: right;
}
